{{/*
  math-coding: KaTeX auto-render partial
  Loaded in <head> when enableMath is true.
*/}}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8NNdYBWt3SGfS2c8RaRfdLczxHZLCD3m2ajj0UDkxjuIuUu5T3b3tgLcZ6U7Z8S" crossorigin="anonymous">

<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-DZH6gRhrm5e7F1NR3eDg/2Q3p+vK0qV3yJ9F6VwOJqzK3DR9DwPzJwLmT7hwG+" crossorigin="anonymous"></script>

<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6Xg4yc5/kEp3Ei9Omg8g8g9g8g9g8g9g8g9g8g9g8g9g8g9g8g9g8g9g" crossorigin="anonymous"
        onload="renderMathInElement(document.body, {
          delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\\\[', right: '\\\\]', display: true},
            {left: '\\\\(', right: '\\\\)', display: false}
          ],
          throwOnError: false
        });"></script>